/* PAGE BASE */
html, body {
  margin: 0;
  padding-bottom: 50px;
  height: 100%;  /* REQUIRED for 100% backgrounds */
}

.app-container {
  width: 100%;
  min-height: 100vh; /* FULL SCREEN HEIGHT */
  background: url('../assets/finalbg.jpg') no-repeat center center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  text-align: center;
}


/* HEADER */
.header {
  width: 100%;
  background: #004aad; /* Blue stripe */
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  padding-left: 20px;
}

.docai-header-logo {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.header-right {
  padding-right: 20px;
}

.header-logo {
  height: 55px;
  width: auto;
}

/* MAIN BLURRED BACKGROUND IMAGE CARD */
.blur-card {
  width: 450px;
  margin: 50px auto;
  transform: translate(00%,30%);
  padding: 50px;
  border-radius: 25px;
  background-position: center;
  vertical-align: middle;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(19, 18, 18, 0.3);
  color: rgb(240, 232, 232);
  font-style: italic;
  box-shadow: 0px 6px 25px rgba(0,0,0,0.25);
}

.welcome {
  font-size: 34px;
  margin: 0;
}

.docai {
  font-size: 40px;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 25px;
}

/* BUTTONS */
.explore-btn {
  background: #0053c7;
  color: rgb(251, 249, 249);
  font-size: 18px;
  padding: 12px 28px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.explore-btn:hover {
  transform: scale(1.05);
}

/* POP-UP CARDS SECTION */
.cards-section {
  width: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.info-card {
  width: 260px;
  min-height: 160px;
  background: #4680dd;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 15px;
   backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;
  padding: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  text-align: center;
  transition: 0.3s ease;
}

.info-card:hover {
  transform: translateY(-12px);
  box-shadow: 0px 10px 22px rgba(0,0,0,0.25);
}

/* TRY NOW BELOW CARDS */
.try-lower-wrapper {
  margin-top: 40px;
  margin-bottom: 100px;
}

.try-lower-btn {
  background: #0053c7;
  color: white;
  font-size: 22px;
  padding: 14px 40px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.try-lower-btn:hover {
  transform: scale(1.08);
}
